<app-sidebar></app-sidebar>
<div class="all-content-wrapper">
<app-topbar></app-topbar>

<div class="section-admin container-fluid">
<div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="product-sales-chart">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption pro-sl-hd">
                                    <span class="caption-subject text-uppercase"><b>Weather Now</b></span>
                                
                                    <iframe width="770" height="777" src="https://embed.windy.com/embed2.html?lat=33.468&lon=10.283&detailLat=36.827&detailLon=10.195&width=650&height=450&zoom=6&level=surface&overlay=temp&product=ecmwf&menu=&message=&marker=true&calendar=now&pressure=true&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
                                    </div>
                            </div>
               
                        </div>
                    </div>
               </div>
           
        </div>
    </div>
</div>
<div class="calender-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="calender-inner">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>