<p>add-alert works!</p>
<!-- Model Ajout
<ng-template #mymodal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajout</h4>
    <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" (click)="cancel()">×</span>

    </button>

  </div>
  <div>
    <form>
      <div class="modal-body">

        <div class="row" class="col-md-5">
          <label>Date of the donation</label>
          <input type="text" [(ngModel)]="p.dateDonation" [ngModelOptions]="{standalone : true}" />
        </div>
        <div class="row" class="col-md-5">
          <label>Sum</label>
          <input type="number" [(ngModel)]="p.sum" [ngModelOptions]="{standalone : true}" />
        </div>
        <div class="row" class="col-md-5">
          <label>Bank account</label>
          <input type="number" [(ngModel)]="p.bankAccount" [ngModelOptions]="{standalone : true}" />

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-info"
                (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
        <button class="btn btn-success"(click)="editDonation(p)" (click)="modal.close('Save click')">Validate</button>
      </div>

    </form>
  </div>
</ng-template>
-->
